*{
  margin:0;
  padding:0;
}

/*html{ margin: 0 0; }*/

body{
  padding:0;
  background:#fff;
}

#madden{ opacity:0; }

#madden header{ position:fixed; top:0; width:100%; height:40px; color:#fff; background:#1b1a1b;  z-index:10; vertical-align:middle; }
#madden header.triggered{ background:#c4380c; transition:background 0.5s; -webkit-transition:background 0.5s}
#madden header.locked{  background:#c4380c; transition:background 0s; -webkit-transition:background 0s}
#madden header .header-wrapper{ width: 100%; padding:0 15px;   margin:0 auto; }
#madden header .logo{ position:relative; display:inline-block; padding:12px 20px 12px 0; }
#madden header .logo .words{ opacity:0; transition:opacity 0.5s; -webkit-transition:opacity 0.5s; }
#madden header.triggered .logo .words,
#madden header.locked .logo .words{ opacity:1; }
#madden header .logo .fox{ position:absolute; top:10px; left:20px; height:20px; opacity:1; transition:all 0.5s; -webkit-transition:all 0.5s; }
#madden header.triggered .logo .fox,
#madden header.locked .logo .fox{ opacity:0; }
#madden header nav{ position:absolute; top:8px; left:50%; transform:translateX(-50%); -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); font-size:16px; font-family:'Decima'; letter-spacing:2px; text-transform:uppercase; opacity:1; transition:opacity 1s; -webkit-transition:opacity 1s; }
#madden header.triggered nav,
#madden header.locked nav{ opacity:0; }
#madden header .social-links a,
#madden header nav a{ display:inline-block; padding:0px 10px 0 0; line-height:105%; color:#fff; font-size:14px; font-family:'Decima'; letter-spacing:2px; text-transform:uppercase; vertical-align:middle; transition:all 1s; -webkit-transition:all 1s;}
#madden header nav a.title-bar{ padding:0px 5px 0 0;}
#madden header nav a.active{ color:#fff100; }
#madden header .social-links a.title-bar{ cursor:default; text-decoration:none;}
#madden header .social-links a.social{ padding:12px 5px 12px 0; }
#madden header .social-links a.social img{ height:15px;  }
#madden header .social-links a.social img path{ fill:red;}
#madden header .social-links{ float:right; }

#madden header .social-links a svg{ height:15px; width:15px; }
#madden header.triggered .social-links a:hover svg path{ fill:#1b1a1b; }
#madden header .social-links a:hover svg path{ fill:#c4380c; }

#madden section{ clear:both; }

#madden blockquote{ font-family:"AtlasGroteskWeb", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:24px; color:#40ad48; text-decoration:none; line-height:130%; font-weight:bold; padding:0; max-width:80%;}

#madden sup{ font-family:"AtlasGroteskWeb"; font-size:12px;}

#madden .full-screen{ position:relative; width:100%; height:100vh; margin:110px 0;  background-size:cover; background-position:center center; }
#madden .full-screen.opener{ margin-top:0px; }

#madden #part-1-opener{ height:175vh; overflow:hidden; }
#madden #part-1-opener .background{ width:100%; height:100vh; position:absolute; top:0; bottom:0; right:0; left:0; background-image:url(../madden/img/full-screen.jpg); z-index:0; background-position:center top; background-size:cover;}
#madden #part-1-opener.locked .panel{position:fixed;}
#madden #part-1-opener.done .panel{position:absolute; top:auto; bottom:0;}
#madden #part-1-opener.locked .background{ position:fixed; }
#madden #part-1-opener.done .background{ position:absolute; bottom:0px; top:auto; }
#madden .panel{ position:absolute; height:100vh; width:100%; top:0;  opacity:0; font-family:'Decima'; text-align:center; text-transform:uppercase; transition:opacity 1s; -webkit-transition:opacity 1s; }
#madden .panel .panel-wrapper{ position:absolute; top:calc(50% + 40px); left:5%; width:95%; text-align:; transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%) }
#madden .panel .panel.triggered{ opacity:1; }
#madden .panel hr{ border:0px; border-top:5px solid #000; background:transparent; max-width:500px; margin:0 auto; }
#madden .panel h1{ font-size:50px; color:#fff100;  letter-spacing:8px; font-family:'Decima'; line-height:115%; padding:0; text-transform:uppercase; width:98%; max-width:550px; text-align:left; }
#madden .panel h2{ width:98%; max-width:550px; font-size:50px; letter-spacing:8px; font-family:'Decima'; line-height:115%; padding:0;   text-align:left; color:#fff; font-weight:normal; }
#madden .panel h2 .line-2{ display:block; width:200%;}
#madden .panel h3{ font-size:20px; color:#fff100; margin:50px 0 0; letter-spacing:5px; font-weight:normal; text-align:left; font-family:'Decima'; text-transform:uppercase; }
#madden .panel h4{ font-size:14px; margin:5px 0 0; font-weight:normal; color:#fff100; text-align:left; letter-spacing:3px; font-family:'Decima'; text-transform:uppercase;}
#madden .panel h3 .photographer{ font-size:17px;}
#madden .panel h3.hidden{ opacity:0;  }
#madden .panel.triggered{ opacity:1 !important; }
#madden .panel.video{opacity:1;}
#madden #intro-video{ min-height:100%; max-width:300%; min-width:100%; position:absolute; bottom:0px; left:50%; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); z-index:0; }
#madden #part-1-opener .panel h1,
#madden #part-1-opener .panel h3,
#madden #part-1-opener .panel h4{ color:#fff; }
#madden #part-1-opener .panel h2{ color:#000; }

#madden #quote-image{ position:relative; width:1024px; max-width:100%;  margin:100px auto 75px; font-family:"AtlasGroteskWeb", "Helvetica Neue", Helvetica, Arial, sans-serif;}
#madden #quote-image h2.quote{ position:absolute; top:2%; opacity:0; left:3%; width: 20%; color:#40ad48; text-decoration:none; font-size:24px; line-height:130%; font-family:"AtlasGroteskWeb", "Helvetica Neue", Helvetica, Arial, sans-serif; transition:all 1s ease-in-out; -webkit-transition:all 1s ease-in-out; }
#madden #quote-image.triggered h2.quote{ top:5%; opacity:1;}
#madden #quote-image img{ display: inline-block;  vertical-align: bottom;}
#madden #quote-image .caption{ text-align:right; width:100%; font-size:12px;  }
/*#madden #quote-image .caption{ position:absolute; bottom:20px; left:3%; color:#fff; font-size:13px; }*/

#madden .percent{ width:0%; height:20px; background:red; transition:width 0.001s; -webkit-transition:all 1s ease-in-out;}

#madden .content-width{ width:97.5%; max-width:1250px; margin:0 auto; }
#madden .content-width p{ width:45%; max-width:530px; margin:0 auto 1em; }
#madden .content-width p.chart{ margin:50px auto;}
#madden .content-width p.chart.tecmo,
#madden .content-width p.chart.pro-football{ margin:20px auto; }
#madden .caption{ display:inline-block; margin-top:10px; font-family:"AtlasGroteskWeb", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12px; color:#999; }
#madden .dropcap { float: left; font-size: 64pt; line-height: 50%; padding-top: 19px; padding-right: 20px; padding-left: 0px; padding-bottom:10px; }

#madden .ornamental-rule{ width:45%; max-width:530px; margin:0px auto 40px; padding:20px 0 0;}
#madden .ornamental-rule hr{ top:10px; width:0; margin:0 auto; -webkit-transition: width 1s ease-in-out;-moz-transition: width 1s ease-in-out; -o-transition: width 1s ease-in-out; transition: width 1s ease-in-out; }
#madden .ornamental-rule.triggered hr{ width:100%; }
#madden .ornamental-rule span{ top:0px;}

#madden .content-width .sidebar-wrapper{ position:relative; clear:both; }
#madden .content-width .sidebar{ position:absolute; top:0px; left:0; width:255px; font-family:"AtlasGroteskWeb", "Helvetica Neue", Helvetica, Arial, sans-serif; }
#madden .content-width .sidebar p, #madden .content-width p.chart{ width:100%; font-size:12px; line-height:140%; letter-spacing:0.03em; }
#madden .content-width .sidebar p{ padding-right:10%; color:#999; }

#madden .content-width .sidebar.chalk-talk{ top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); }
#madden .content-width .sidebar.chalk-talk  p{ margin:30px 0 35px; font-weight:normal; letter-spacing:0px;}
#madden .chalk-talk p{ font-size:13px; margin:0 auto 10px; font-family:'AtlasGroteskWeb'; font-weight:700; letter-spacing:0.03em; }
#madden .chalk-talk .x-o .x-o-x{ margin-left:20px;}

#madden .twitter-side{ height:800px;  }
#madden .tweet-wrapper.fixed{ top: 50px; position:fixed; width:255px;}
#madden .tweet-intro{ width:100%; padding-right:10%; background:#fff; font-size:13px; position:absolute; top:0px; line-height:140%; color:#999;}
#madden .tweet-viewer{ width:100%; background:#fff; font-size:13px; position:absolute; top:98px;  }
#madden .tweet{ position:absolute; top:0; margin-bottom:25px; opacity:0; transition:opacity 0.2s linear; -webkit-transition:opacity 0.2s linear; }
#madden .tweet.trig{z-index:5; opacity:1;}
#madden .tweet.triggered{ opacity:1;  }

#madden .content-width .sidebar.adjusted-stats{ padding-top:35px; top:-250px; color:#999; }
#madden .chalk{ position:absolute; }
#madden .chalk.top{ top:10px; }
#madden .chalk.left{ left:10px; }
#madden .chalk.right{ right:10px; }
#madden .chalk.bottom{ bottom:10px; }
#madden .adjusted-stats .player-stats{ position:relative; margin:0 0 100px;}
#madden .adjusted-stats .stat-card h4{ font-size:16px; font-family:'Decima'; letter-spacing:2px; line-height:140%; }
#madden .adjusted-stats .stat-card h4 .yellow{ font-size:16px; font-family:'AtlasGroteskWeb'; letter-spacing:1px; font-weight:bold; }
#madden .adjusted-stats .stat-card{ margin:0; background:#007b3f; width:100%; color:#fff; text-align:center; padding-bottom:15px; text-transform:uppercase;}
#madden .adjusted-stats .stat-card .headshot{ position:relative; height:75px; display:block; width:100%; ; }
#madden .adjusted-stats .stat-card .headshot img{ position:absolute; top:-40px; left:50%; display:block;  vertical-align:bottom; transform:translateX(-50%); -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%);}
#madden .adjusted-stats .stat-card .yellow{ color:#fff100; }
#madden .adjusted-stats .stat-card .arrow{ width:15px; height:15px; margin:5px 0 0; transform:rotate(0deg); -ms-transform:rotate(0deg); -webkit-transform:rotate(0deg); transition:all 0.5s ease-in-out;}
#madden .adjusted-stats .player-stats.triggered .stat-card .arrow{ transform:rotate(90deg); -webkit-transform:rotate(90deg); -ms-transform:rotate(90deg);}
#madden .adjusted-stats .player-info{ position:relative; width:98%; margin:0 auto; padding:10px 0 0; border-top:2px solid #fff; border-bottom:1px dashed #fff; }
#madden .adjusted-stats .player-bio{ margin:20px 0 0; padding:20px 0; border-top:2px solid #007b3f;}
#madden .adjusted-stats .player-bio h5{ font-size:15px; margin-bottom:15px; font-weight:700; line-height:140%;}
#madden .adjusted-stats .player-bio h5 .black{ color:#000; font-size:16px;}
#madden .adjusted-stats .adjustments{ width:100%; border-bottom:1px solid #007b3f; text-align:center; padding:0 0 10px; color:#000;}
#madden .adjusted-stats .adjustments h5{ border-top:1px solid #007b3f; border-bottom:1px dashed #007b3f; width:100%; padding:5px 0; font-size:14px; letter-spacing:0.03em; text-align:center; font-weight:700; }
#madden .adjusted-stats .adjustments .original-rating, #madden .adjusted-stats .adjustments .adjusted-rating{ display:inline-block; padding:11px 20px; width:100px; }
#madden .adjusted-stats .adjustments p{ margin:0 0 15px; font-family:'Decima'; text-transform:uppercase; letter-spacing:2px; padding:0;}
#madden .adjusted-stats .adjustments img{ display:inline-block; width:25px; margin-left:10px; margin-bottom:4px;}
#madden .adjusted-stats .adjustments .player-rating{ font-size:55px; font-family:'Decima';letter-spacing:2px; }
#madden .adjusted-stats .stat-hidden{  max-height:0; height:0; opacity:0; overflow:hidden; transition:all 1s ease-in; -webkit-transition:all 1s ease-in; }
#madden .adjusted-stats .player-stats.triggered .stat-hidden{ display:block;height:auto; max-height:10000px; opacity:1;}

#madden #part-2-opener{  position:relative; height:175vh; background:#000; text-align:center; overflow:hidden; }
#madden #part-2-opener .panel{ height:100vh; position:absolute; top:0px; width:100%; left:0px; opacity:0; background-size:cover; transition:opacity 1s; -webkit-transition:opacity 1s; }
#madden #part-2-opener.locked .panel{ position:fixed; }
#madden #part-2-opener .panel.triggered{ opacity:1; }
#madden #part-2-opener #opener-1{ z-index:1; background-image:url(../madden/img/part-2-opener-3.jpg); z-index:1;}
#madden #part-2-opener #opener-2{ z-index:1; background-image:url(../madden/img/part-2-opener-2.jpg); z-index:2;}
#madden #part-2-opener #opener-3{ z-index:1; background-image:url(../madden/img/part-2-opener-1.jpg); z-index:3;}
#madden #part-2-opener #opener-text{ z-index:4; opacity:1; }
#madden #part-2-opener.done .panel{ position:absolute; bottom:0; top:auto;  }
#madden #part-2-opener .part-1,
#madden #part-2-opener .part-2,
#madden #part-2-opener .part-3{ opacity:0; transform: translateY(10px); -ms-transform: translateY(10px); -webkit-transform: translateY(10px); transition:all 1s ease-out; -webkit-transition:all 1s ease-out; }

#madden #part-2-opener .part-1.trig,
#madden #part-2-opener .part-2.trig,
#madden #part-2-opener .part-3.trig{ opacity:1; padding-top:0; transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px);}

#madden #gamebreakers{ position:relative; text-align:center; height:150vh; font-family:"AtlasGroteskWeb", "Helvetica Neue", Helvetica, Arial, sans-serif;}
#madden #gamebreakers .gamebreaker-panel{ position:absolute; top:0px; width:100%; height:100vh; background-size:cover; z-index:0; overflow:hidden; opacity:0; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; }
#madden #gamebreakers.locked .gamebreaker-panel{ position:fixed;  left:0px; }
#madden #gamebreakers .gamebreaker-panel.active{ top:0px; z-index:3; opacity:1; }
#madden #gamebreakers .gamebreaker-panel.previous{ z-index:2; top:0px; }
#madden #gamebreakers .gamebreaker-panel.faded{ opacity:0; }
#madden #gamebreakers #gamebreaker-intro.faded{ opacity:1; }
#madden #gamebreakers.done  .gamebreaker-panel{ bottom:0; top:auto; }
#madden #gamebreakers .gamebreaker-video{ min-height:100%; max-width:300%; min-width:100%; position:absolute; top:0px; left:50%; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); z-index:0; }

#madden #gamebreakers #gamebreaker-intro{ background-image:url(../madden/img/gamebreakers.jpg); background-position: center center;  }
#madden #gamebreakers #gamebreaker-manning{ top:100%; }

#madden #gamebreakers audio{ position:absolute; left:-5555px;}
#madden #gamebreakers h2{ font-size:50px; color:#fff100; margin-bottom:20px; font-weight:700;}
#madden #gamebreakers p{ font-size:18px; color:#fff; line-height:175%; }
/*#madden #gamebreakers .start-gamebreakers{ width:30px; height:30px; position:absolute; bottom:20px; left:50%; margin-left:-15px; transform:rotate(90deg); -webkit-transform:rotate(90deg); transition:all 0.75s; -webkit-transition:all 0.75s; }
#madden #gamebreakers .start-gamebreakers.trigger{ bottom:10px; }*/
#madden #gamebreakers .gamebreaker-wrapper{ position:absolute; top:70%; left:50%; transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); }
#madden #gamebreakers .start-gamebreakers, #madden #gamebreakers .start-gamebreakers.trigger{ position:relative; padding:8px 22px; margin:0 auto; left:auto; bottom:auto; width:auto; height:auto; color:#fff100; font-size:16px; font-family:'Decima'; text-transform:uppercase; letter-spacing:2px; border: 2px solid #fff100;  background:transparent; cursor:pointer; transform:translate(0,0); -ms-transform:translate(0,0); -webkit-transform:translate(0,0); transition:all 1s; -webkit-transition:all 1s;}
#madden #gamebreakers .start-gamebreakers.next{ position:absolute; bottom:20px; left:50%; transform:translateX(-50%); -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); }
#madden #gamebreakers .start-gamebreakers:hover{ color:#fff; text-decoration:none;}
#madden #gamebreakers .mute-video{position:absolute; bottom:5px; right:20px; height:30px; width:30px; background-image:url(../madden/img/mute.gif); background-size:100%; text-indent:-55555px; cursor:pointer;}
#madden #gamebreakers .mute-video.muted{ background-image:url(../madden/img/muted.gif); }

#madden #gamebreakers .breaker-profile{ position:absolute; top:50%; left:10%; width:300px; transform:translateY(150%); -ms-transform:translateY(150%); -webkit-transform:translateY(150%); background:rgba(0,58,13,0.8); padding:10px 15px;  overflow:visible; color:#fff; transition:opacity 0.75s, transform 0.75s ease-in-out; -webkit-transition:opacity 0.75s, transform 0.75s ease-in-out; }
#madden #gamebreakers .show-bio .breaker-profile{ opacity:1; transform:translateY(-45%); -ms-transform:translateY(-45%); -webkit-transform:translateY(-45%);}
#madden #gamebreakers .hide-bio .breaker-profile{ opacity:0; }
#madden #gamebreakers .breaker-profile .headshot{ height:18px; }
#madden #gamebreakers .breaker-profile .headshot img{ margin:-100px auto 0;}
#madden #gamebreakers .breaker-profile .player-name{ width:100%; border-top:2px solid #fff; color:#fff100; font-size:22px;  border-bottom:2px solid #fff; padding:15px 0;  margin: 0 auto 5px; text-transform:uppercase; font-family:'Decima'; letter-spacing:2px;}
#madden #gamebreakers .breaker-profile .talent{ border-top:1px dashed #fff; padding:15px 0; font-size:15px; color:#fff; line-height:140%; letter-spacing:0.01em;}
#madden #gamebreakers .breaker-profile .talent .yellow{ color:#fff100; line-height:26px; }
#madden #gamebreakers .breaker-profile .talent:nth-child(1){ border:0px; }

#madden #interactive{ width:1024px; max-width:98%; margin:55px auto 100px;}
#madden #interactive h3{ text-align:center; color:#40ad48; letter-spacing: 2px; font-size: 16px; margin-bottom: -10px; z-index: 5; position: relative}
#madden #interactive iframe{ width:100%; position:relative; z-index:0;}

#madden #doublewide{ width:1024px; max-width:98%; margin:50px auto; }

#madden #hickey-stat{ opacity:0; width:175px; margin:0 auto; transition:all 1s; -webkit-transition:all 1s; }
#madden .triggered #hickey-stat{ opacity:1; }
#madden #hickey-stat .hickey-image{ position:relative; display:block; margin:0 auto; z-index:1;}
#madden #hickey-stat .hickey-bio{ position:relative; margin:-55px 0 0; padding:70px 15px 0;  width:100%; color:#fff; text-align:center; padding-bottom:15px;  z-index:0; text-align:left; }
#madden #hickey-stat .stat-wrap{  border-top:1px dashed #007b3f; padding:10px 0; text-align:center; line-height:115%; }
#madden #hickey-stat .stat-wrap.solid-border-top{  border-top:2px solid #007b3f; }
#madden #hickey-stat .stat-wrap .stat{ font-size:16px; color:#000; font-family:'Decima'; text-transform:uppercase; letter-spacing:2px;}
#madden #hickey-stat .stat-wrap .stat-note{ font-size:12px; color:#999; letter-spacing:0.03em; line-height:100%;}

#madden #combines p{ margin-bottom:50px; font-weight:bold; letter-spacing:0.03em; }
#madden #combines .combine{ margin:0 0 100px; }
#madden #combines video{ max-width:100%; }
#madden #combines .combine h3{ font-size:20px; letter-spacing:2px; }
#madden #combines .combine .stat{ width:100%; padding:20px 0; border-bottom:1px dashed #999; font-size:13px; vertical-align:middle; font-weight:700; letter-spacing:0.03em; background:url(../madden/img/arrow.svg); background-size:10px; background-repeat:no-repeat; background-position:left center; padding-left:15px;}
#madden #combines .combine .stat .stat-number{ font-size:20px; display:inline-block; text-align:right; vertical-align:middle; float:right; font-family:'Decima'; letter-spacing:2px; font-weight:normal; }

#madden #video{position:relative; overflow:hidden;}
#madden #hickey-video{ min-height:100%; max-width:300%; min-width:100%; position:absolute; top:0px; left:50%; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); z-index:0; }
#madden #video #video-overlay{ position:absolute; top:0; right:0; bottom:0; left:0; background-image:url(../madden/img/video-overlay.png); background-position:left top; background-repeat:repeat-y; z-index:2; opacity:0; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; font-family:'Decima'; letter-spacing:2px;}
#madden #video #video-overlay.triggered{ opacity:1;}
#madden #video #video-overlay .stat-wrapper{ position:absolute; left:0px; bottom:5%; }
#madden #video #video-overlay .stat{ margin:35px 0 20px -50px; font-size:30px; color:#fff; opacity:0; font-size:18px; transition:opacity 0.5s, margin-left 0.5s ease-in-out; -webkit-transition:opacity 0.5s, margin-left 0.5s ease-in-out; vertical-align:middle; text-transform:uppercase; }
#madden #video #video-overlay .stat.name{ margin:0px 0 20px -50px; font-size:30px; }
#madden #video #video-overlay .stat.overall{ color:#fff100;}
#madden #video #video-overlay .stat .stat-number{ display:inline-block; font-size:40px; margin-right:10px; vertical-align:middle; font-family:'DecimaMono'; letter-spacing:-3px;}
#madden #video #video-overlay .stat.triggered,
#madden #video #video-overlay .stat.name.triggered{ margin-left:50px; opacity:1; }

#madden #entry-footnotes, #madden #entry-comments{ width:95%; max-width: 1024px; margin: 60px auto 20px; clear:both; font-family:'AtlasGroteskWeb'; }
#madden #entry-footnotes .entry-footnotes-content{ padding:0; }
#madden #entry-footnotes li{  margin-top:-50px; padding-top:50px; }
#madden .post-author{ width:95%; max-width:1024px; margin:0 auto 30px; padding-top:20px; border-top:1px solid #D1D3D4;}

@media (max-width : 1100px){
  #madden .content-width p{ float:right; clear:both; margin-right:10%;}
  #madden .content-width p.chart{ width:45%; margin-right:10%;}
  #madden #quote-image h2.quote{ width:260px; }
}

@media (max-width : 768px){
  #madden #part-1-opener,
  #madden #part-2-opener{ height:100vh; }
  #madden #part-2-opener .part-1,
  #madden #part-2-opener .part-2,
  #madden #part-2-opener .part-3{ opacity:1; }
  #madden #part-1-opener.locked .panel,
  #madden #part-1-opener.done .panel,
  #madden #part-2-opener.locked .panel,
  #madden #part-2-opener.done .panel{ position:absolute; top:0;}
  #madden #part-2-opener .part-3{ transform:translate(0,0); -ms-transform:translate(0,0); -webkit-transform:translate(0,0);}

  #madden .content-width p{ float:right; clear:both; width:50%; margin-right:5%; }
  #madden .ornamental-rule{ float:right; clear:both; margin-right:5%; width:50%;}
  #madden .content-width .sidebar p{ float:none; margin-right:auto;}
  #madden .sidebar-wrapper p{ float:none; }
  #madden #quote-image .caption{ max-width:98%; margin:0 auto; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
  #madden #part-1-opener{ background:url(../madden/img/full-screen.jpg); background-size:cover; background-position:center center; }
  #madden #part-1-opener .panel{ opacity:1; }
  #madden .panel .panel-wrapper{ top:calc(50% + 20px); }
  #madden .panel h1,
  #madden .panel h2{ font-size:94px; max-width:100%; line-height:98%; }
  #madden .panel h3{ font-size:30px; margin-top:20px; }

  #madden #part-2-opener #opener-1,
  #madden #part-2-opener #opener-3{ display:none; }
  #madden #part-2-opener #opener-2{ opacity:1 !important; background-position:center center;}


  #madden .panel h2 .line-2{display:inline;}
  #madden .full-screen{ height: 648px; margin:75px 0; }
  #madden .full-screen.quote-1 h2.quote{ width:40%; font-size:26pt; line-height:36pt;}
  #madden .content-width p{ float:right; clear:both; width:50%; margin-right:5%; }
  #madden .ornamental-rule{ float:right; clear:both; margin-right:5%; width:50%;}
  #madden .content-width .sidebar p{ float:none; margin-right:auto;}
  #madden .content-width p.chart{ width:50%;  margin:20px 5% 50px 0;}
  #madden #interactive{  margin:55px auto 55px; }
  #madden #combines .combine{ margin-bottom:50px;}
  #madden #combines p{ margin-bottom:20px; }



  #madden .sidebar-wrapper p{ float:none; }

  #madden #gamebreakers,#madden #gamebreakers .gamebreaker-panel{ height: 50vh; }
  #madden #gamebreakers .gamebreaker-wrapper{ width:85%; top:50% !important;}
  #madden #gamebreakers .gamebreaker-video{ height:100%;  }
  #madden #gamebreakers .breaker-profile { max-width:25%; left:5%; }
  #madden #gamebreakers .mute-video{ display:none;}
  #madden #gamebreakers .start-gamebreakers.highlight {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
  }

  @-webkit-keyframes bounce {
      0%, 15%, 45%, 75%, 100%{-webkit-transform: translate(-50%, 0px);}
      30% {-webkit-transform: translate(-50%, -10px);}
      60% {-webkit-transform: translate(-50%, -5px);}

  }

  @keyframes bounce {
      0%, 15%, 45%, 75%, 100%{transform: translate(-50%, 0px);}
      30% {transform: translate(-50%, -10px);}
      60% {transform: translate(-50%, -5px);}
  }

  #madden #video #video-overlay{ right:60%; background-size:100%; }
  #madden #video{ height:500px; }
  #madden #video video{ height:100%; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
  #madden #part-1-opener,
  #madden #part-2-opener{ height:100vh; }
  #madden #part-2-opener .part-1,
  #madden #part-2-opener .part-2,
  #madden #part-2-opener .part-3{ opacity:1; }
  #madden #part-1-opener.locked .panel,
  #madden #part-1-opener.done .panel,
  #madden #part-2-opener.locked .panel,
  #madden #part-2-opener.done .panel{ position:absolute; top:0;}
  #madden #part-1-opener{ background:url(../madden/img/full-screen.jpg); background-size:cover; background-position:center center; height:100vh; }
  #madden .panel h1,
  #madden .panel h2{ font-size:90px; max-width:100%; line-height:95%; }
  #madden .panel h3{ font-size:30px; margin-top:20px; }
  #madden #part-2-opener #opener-1,
  #madden #part-2-opener #opener-3{ display:none; }
  #madden #part-2-opener #opener-2{ opacity:1 !important;}
  #madden .panel h2 .line-2{display:inline;}
  #madden .content-width p.chart{ width:45%; }

}

@media( max-width: 600px ){
  #madden #part-1-opener{ background:url(../madden/img/full-screen.jpg); background-size:cover; background-position:-230px center; height:100vh; }
  #madden #part-2-opener{ background-color:#000; background-image:url(../madden/img/mobile-part-1.jpg); background-position:center bottom; background-size:100%; background-repeat:no-repeat;}
  #madden #part-2-opener #opener-1,
  #madden #part-2-opener #opener-2,
  #madden #part-2-opener #opener-3{ display:none;}
  #madden #part-2-opener .panel-wrapper{ top:60px; transform:translate(0); -ms-transform:translate(0); -webkit-transform:translate(0);}
  #madden #part-1-opener .panel-wrapper{ top:50%; }
  #madden .panel h1,
  #madden .panel h2{ font-size:40px; line-height:95%; letter-spacing:1px;}
  #madden .panel h3{ margin:0; }
  #madden .panel h4{ display:none; }

  #madden blockquote,
  #madden #quote-image h2,
  #madden .twitter-side,
  #madden .adjusted-stats,
  #madden #gamebreakers{ display:none; }

  #madden #part-1-opener .panel-1{ opacity:1 !important;}
  #madden header .header-wrapper{ padding:0; }
  #madden header nav{top:5px; }
  #madden header nav a{ padding:5px 8px; }
  #madden header .logo .words{ display:none; }
  #madden header .logo .fox{ opacity:1 !important; }
  #madden .content-width p{ width:98%; margin:0 auto 1em; float:none;}
  #madden #quote-image h2.quote{display:none;}
  #madden .panel h2 .line-2{ max-width: 98%;}
  #madden .ornamental-rule{ width:98%; margin:0 auto 30px; float:none; }
  #madden #interactive{ height:auto; }
  #madden #interactive iframe{ max-width:95%; height:1650px; }
  #madden #hickey-video{ min-height:0px; min-width:0px; height:auto; width:100%;  position:relative; top:auto; left:auto; transform:translate(0,0); -ms-transform:translate(0,0); -webkit-transform:translate(0,0);}
  #madden #video{ height:auto; margin:50px 0;}
  #madden #quote-image{ margin:50px 0;}
  #madden #video-overlay{ display:none; }
  #madden header a.title-bar.parttwo{ display:none;}
  #madden .content-width p.chart{ width:97.5%; margin:0 auto 30px; }

  .x-o-o,.x-o-x{display:none;}
  #part-2-link{ border-left:1px solid #fff; }

  #madden #hickey-stat{ opacity:1; }

  #madden #combines .combine img{ width:100%; }
  #madden #combines p{ margin-bottom:20px; }
  #madden #combines .combine{ margin-bottom:20px; }

  #madden .content-width .sidebar{ width:97.5%; margin:50px auto; position:relative; }
  #madden .content-width .sidebar.chalk-talk{ margin:0 auto; }
  #madden .content-width .sidebar.chalk-talk p{ margin-right:auto; }

  #madden .content-width .sidebar.chalk-talk{ position:relative; top:auto; transform:translate(0,0); -ms-transform:translate(0,0); -webkit-transform:translate(0,0);}
}

@media( max-height:400px ){
  #madden .panel h1,
  #madden .panel h2{ font-size:36px; line-height:95%; letter-spacing:1px;}
}